.nav {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 20px;
}
a {
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
}

a:hover {
  text-decoration: underline;
}
.active {
  color: rgb(20, 94, 26);
}

.active:hover {
  text-decoration: underline;
}
