.container {
  border: 2px solid rgba(0, 0, 0, 0.445);
  border-radius: 4px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btnDelete {
  border: 2px solid gray;
  border-radius: 5px;
  cursor: pointer;
}

.name i,
.number i {
  margin-right: 8px;
}
